<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>objectives
1. Some of the popular languages that Data Scientists use
2. some of the commonly used libraries by data scientists
3. some data science tools

Some of the popular languages that Data Scientists use are:
1. python
2. r programming 
3.sql 
4. apache spark

Some of the commonly used libraries used by Data Scientists include: 
1. pandas
2. numpy
3. matplotlin
4. ggplot2

Data Science tools
1. jupyter
2. r studio
3 scala

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [7]:
3+2

5

In [2]:
5-6+6

5

In [8]:
 #This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [9]:
 #This will convert 200 minutes to hours by diving by 60
minutes=200
hours=200/60
hours

3.3333333333333335

<h2>author</h2>
akshra singh